In [2]:
import pandas as pd
# import numpy as np
# import datetime as dt

In [3]:
#imports the data frame- UPS data from the previous month
#pulls off the first 82 columns
#keeps only the columns needed for the analysis

df = pd.read_excel('UPS R1 February 2021.xlsx', header=None)
df2 = df.iloc[:, [2,4,5,10,11,13,16,22,45,52,75,76,78,79,80]]

df2.head()

,2,4,5,10,11,13,16,22,45,52,75,76,78,79,80
0,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,NaN,WW Expedited,0.00,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
1,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,NaN,Disbursement Fee,4.66,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
2,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,NaN,Dutiable Permit,3.42,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
3,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,NaN,Value Added Tax,8.64,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
4,00009A56R1,2021-02-23,1457180345,38.14,2021-02-21,9A56R1JSQQZ,NaN,NaN,WW Saver,0.00,"WEIHAI JINFU ELECTRONIC CO., LTD","NO. 911, SHENYANG CENTER RD, WEIHAI",SHANDONG,NaN,264203

In [4]:
#names headers for the columns

df2.columns = ["account", "invoice_date", "invoice_no", "invoice_total", "ship_date", "tracking_no", "ref_1", "ref_2", "charge_type", "final_charge","receiving_party", "receiving_address", "city", "state", "zip" ]

In [5]:
#inserts a column for the sales order number but with 0 in each row 

df2.insert(6, "sales_order_no", str(0))

In [6]:
df2.head()

,account,invoice_date,invoice_no,invoice_total,ship_date,tracking_no,sales_order_no,ref_1,ref_2,charge_type,final_charge,receiving_party,receiving_address,city,state,zip
0,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,0,NaN,NaN,WW Expedited,0.00,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
1,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,0,NaN,NaN,Disbursement Fee,4.66,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
2,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,0,NaN,NaN,Dutiable Permit,3.42,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
3,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,0,NaN,NaN,Value Added Tax,8.64,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
4,00009A56R1,2021-02-23,1457180345,38.14,2021-02-21,9A56R1JSQQZ,0,NaN,NaN,WW Saver,0.00,"WEIHAI JINFU ELECTRONIC CO., LTD","NO. 911, SHENYANG CENTER RD, WEIHAI",SHANDONG,NaN,264203

In [7]:
df2.insert(7, "card_code", '')

In [8]:
#creates a new column called "right" which pulls off the sales order no from ref field. However need to put this in the
#sales order column

right = df2['ref_1'].str[-6:]

In [9]:
#itterates through each row and makes the column "sales order no" equal to the right 6 from the ref column so we have 
#SO number in separate column. 

for i, row in df.iterrows():
    df2['sales_order_no'] = right
    
display(df2)

C:\Users\Lucy.Matulich\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,account,invoice_date,invoice_no,invoice_total,ship_date,tracking_no,sales_order_no,card_code,ref_1,ref_2,charge_type,final_charge,receiving_party,receiving_address,city,state,zip
0,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,WW Expedited,0.00,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
1,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,Disbursement Fee,4.66,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
2,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,Dutiable Permit,3.42,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
3,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,Value Added Tax,8.64,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
4,00009A56R1,2021-02-23,1457180345,38.14,2021-02-21,9A56R1JSQQZ,NaN,,NaN,NaN,WW Saver,0.00,"WEIHAI JINFU ELECTRONIC CO., LTD","NO. 911, SHENYANG CENTER RD, WEIHAI",SHANDONG,NaN,264203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5684,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10315864704,390939,,/390939,NaN,Shipping Charge Correction Fuel Surcharge,0.31,Jazimien Clark,269 Avenue C,Springfield,MI,49037
5685,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10317099538,390940,,/390940,NaN,Shipping Charge Correction Ground,0.42,Alexis Cline,12104 Desert hills st.,Parker,CO,80138
5686,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10317099538,390940,,/390940,NaN,Shipping Charge Correction Fuel Surcharge,0.03,Alexis Cline,12104 Desert hills st.,Parker,CO,80138
5687,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10323053986,390861,,/390861,NaN,Shipping Charge Correction Ground,1.15,Jonelle Broaddus,8466 Trione Circle,Windsor,CA,95492
5688,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10323053986,390861,,/390861,NaN,Shipping Charge Correction Fuel Surcharge,0.08,Jonelle Broaddus,8466 Trione Circle,Windsor,CA,95492

In [10]:
for i, row in df2.iterrows():
    df2['sales_order_no'] = df2['sales_order_no'].apply(pd.to_numeric, errors = 'coerce')

C:\Users\Lucy.Matulich\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
#drops the second row which is a numbered row, not needed. Need to see if it's working. 

df2.drop(df2.index[0])

,account,invoice_date,invoice_no,invoice_total,ship_date,tracking_no,sales_order_no,card_code,ref_1,ref_2,charge_type,final_charge,receiving_party,receiving_address,city,state,zip
1,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,Disbursement Fee,4.66,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
2,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,Dutiable Permit,3.42,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
3,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,Value Added Tax,8.64,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414
4,00009A56R1,2021-02-23,1457180345,38.14,2021-02-21,9A56R1JSQQZ,NaN,,NaN,NaN,WW Saver,0.00,"WEIHAI JINFU ELECTRONIC CO., LTD","NO. 911, SHENYANG CENTER RD, WEIHAI",SHANDONG,NaN,264203
5,00009A56R1,2021-02-23,1457180345,38.14,2021-02-21,9A56R1JSQQZ,NaN,,NaN,NaN,Disbursement Fee,4.68,"WEIHAI JINFU ELECTRONIC CO., LTD","NO. 911, SHENYANG CENTER RD, WEIHAI",SHANDONG,NaN,264203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5684,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10315864704,390939.0,,/390939,NaN,Shipping Charge Correction Fuel Surcharge,0.31,Jazimien Clark,269 Avenue C,Springfield,MI,49037
5685,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10317099538,390940.0,,/390940,NaN,Shipping Charge Correction Ground,0.42,Alexis Cline,12104 Desert hills st.,Parker,CO,80138
5686,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10317099538,390940.0,,/390940,NaN,Shipping Charge Correction Fuel Surcharge,0.03,Alexis Cline,12104 Desert hills st.,Parker,CO,80138
5687,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10323053986,390861.0,,/390861,NaN,Shipping Charge Correction Ground,1.15,Jonelle Broaddus,8466 Trione Circle,Windsor,CA,95492
5688,00009A56R1,2021-02-27,0000009A56R1091,5491.38,2021-02-22,1Z9A56R10323053986,390861.0,,/390861,NaN,Shipping Charge Correction Fuel Surcharge,0.08,Jonelle Broaddus,8466 Trione Circle,Windsor,CA,95492

In [12]:
#converts the column "invoice date" to a datetime object

df2['invoice_date'] = pd.to_datetime(df2['invoice_date'], errors = 'coerce')

C:\Users\Lucy.Matulich\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
#converts invoice date to a date object

df2['invoice_date'] = df2['invoice_date'].dt.date

C:\Users\Lucy.Matulich\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
#converts the column "ship date" to a datetime object

df2['ship_date'] = pd.to_datetime(df2['ship_date'], errors = 'coerce')

C:\Users\Lucy.Matulich\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
#converts ship date to a date object

df2['ship_date'] = df2['ship_date'].dt.date
df2.dtypes

C:\Users\Lucy.Matulich\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

account               object
invoice_date          object
invoice_no            object
invoice_total        float64
ship_date             object
tracking_no           object
sales_order_no       float64
card_code             object
ref_1                 object
ref_2                 object
charge_type           object
final_charge         float64
receiving_party       object
receiving_address     object
city                  object
state                 object
zip                   object
dtype: object

In [16]:
#saves new dataframe excel doc. 

df2.to_excel('UPS R1 February condensed.xlsx', index = False)

MERGE DATA FRAMES (UPS RAW DATA WITH ORDER AND LINE ITEMS)

In [17]:
#pull in ordr sheet

df_ordr = pd.read_excel('ORDR for UPS analysis.xlsx', sheet_name = 'ORDR_only')

df_ordr.head()

   DocEntry  sales_order_no    DocDate CardCode        CardName NumAtCard
0    170099          369960 2020-09-06     Ecom  Kasie Papenfus    391590
1    170100          369961 2020-09-06     Ecom    Raina Haines    391598
2    170101          369962 2020-09-06     Ecom  Emma Stawnychy    391613
3    170102          369963 2020-09-06     Ecom  Jessica Klukas    391620
4    170103          369964 2020-09-06     Ecom   stacey tilkes    391628

In [18]:
#pull in ordr line items sheet 

df_lineitems = pd.read_excel('ORDR for UPS analysis.xlsx', sheet_name = 'ORDR_line_items')

df_lineitems.head()

,DocEntry,sales_order_no,DocDate,CardCode,CardName,NumAtCard,RDR1.ItemCode,RDR1.Dscription,RDR1.Quantity,RDR1.LineTotal
0,170099,369960,2020-09-06,Ecom,Kasie Papenfus,391590,54025-US-01,Radian 3RX Latch - Gray Slate,1,219.99
1,170100,369961,2020-09-06,Ecom,Raina Haines,391598,50026-US-01,Radian 3RXT Latch - Bonus Pack- Black Gray,1,279.99
2,170101,369962,2020-09-06,Ecom,Emma Stawnychy,391613,CF03501CVR,PIPA + PIPA series base - Caviar,1,299.95
3,170102,369963,2020-09-06,Ecom,Jessica Klukas,391620,50324-NA-01,Radian 3QX Latch - Blue Sky,1,319.99
4,170103,369964,2020-09-06,Ecom,stacey tilkes,391628,50024-US-01,Radian 3RXT Latch - Blue Sky,1,279.99

In [19]:
#merge ORDR and UPS data dataframes

df_merge = pd.merge(df2, df_ordr, on = ['sales_order_no'], how = 'left')

In [20]:
df_merge.head()

,account,invoice_date,invoice_no,invoice_total,ship_date,tracking_no,sales_order_no,card_code,ref_1,ref_2,...,receiving_party,receiving_address,city,state,zip,DocEntry,DocDate,CardCode,CardName,NumAtCard
0,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,...,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414,NaN,NaT,NaN,NaN,NaN
1,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,...,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414,NaN,NaT,NaN,NaN,NaN
2,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,...,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414,NaN,NaT,NaN,NaN,NaN
3,00009A56R1,2021-02-08,1453573624,16.72,2021-02-06,9A56R1JT4M4,NaN,,NaN,NaN,...,"DORELL JUVENILE PRODUCT CO, LTD",NO 202 KUI XING ROAD,ZHONGSHAN,NaN,528414,NaN,NaT,NaN,NaN,NaN
4,00009A56R1,2021-02-23,1457180345,38.14,2021-02-21,9A56R1JSQQZ,NaN,,NaN,NaN,...,"WEIHAI JINFU ELECTRONIC CO., LTD","NO. 911, SHENYANG CENTER RD, WEIHAI",SHANDONG,NaN,264203,NaN,NaT,NaN,NaN,NaN

In [21]:
#push the new DF to excel file

df_merge.to_excel('df_merge.xlsx', index = False)

NOW START THE DATA ANALYSIS

In [22]:
#find the mean & shape of df_merge, also count unique tracking numbers

print(df_merge.final_charge.mean()) 
print(df_merge.shape)
print(df_merge.tracking_no.value_counts())

3.5233257162945515
(5689, 22)
1Z9A56R10331340909    39
1Z9A56R10311809745    37
1Z9A56R10323389865    25
1Z9A56R10306394113    24
1Z9A56R10314211723    24
                      ..
1Z9A56R10306827477     1
1Z9A56R10305595041     1
1Z9A56R10325608525     1
1Z9A56R10326457437     1
1Z9A56R10310786601     1
Name: tracking_no, Length: 2312, dtype: int64

In [23]:
#drop the rows where final charge = 0

df_merge = df_merge[df_merge['final_charge'] != 0]

In [24]:
#print the shape after dropping null charge rows, find the new mean without the null rows. 
#this is finding the mean of all charges, but we need to sum on tracking numbers and find the mean of the shipping charge
#aka take sum final charge divide by # of unique tracking. 

print(df_merge.shape)
print(df_merge.final_charge.mean())

(3581, 22)
5.597375034906368

In [26]:
#sum final charge by invoice number and date

invoice_by_date = df_merge.groupby(['invoice_date', 'invoice_no'])[['final_charge']].sum()
print(invoice_by_date)

                              final_charge
invoice_date invoice_no
2021-02-06   0000009A56R1061       5741.50
2021-02-08   1453573624              16.72
2021-02-13   0000009A56R1071       4819.94
2021-02-20   0000009A56R1081       3884.00
2021-02-23   1457180345              38.14
2021-02-26   1458131146              52.52
2021-02-27   0000009A56R1091       5491.38

In [27]:
#creates a list called "packages" that is the unique tracking numbers
#counts number of items in that list
#show sum of final charges
#returns the average cost per trakcing number based on final_charge

packages = df_merge.tracking_no.value_counts()
total_charges = df_merge.final_charge.sum() 

print(packages.count())
print(total_charges)
print(total_charges/packages.count())

1070
20044.199999999997
18.73289719626168

In [28]:
packages = df_merge.tracking_no.value_counts()
df_merge.groupby(['CardCode'])[['final_charge']].sum()

              final_charge
CardCode
AMAZON              245.08
AMAZONDF             13.51
AUSBAZ               57.46
BABGRA               91.07
BABLIS              257.73
BRIBAB               17.68
CHIALA               77.56
COOSER-DS           292.59
CPST                361.71
DIORET            14957.01
Ecom                 42.12
FAMDIG-DS            11.21
IBIGRO              116.17
INCBUG               58.88
KALHEA               54.33
MACYS                15.02
MAREBAY              20.45
MARWAL              136.61
OUTEQU              180.82
PISPOS               30.76
PREALT              176.09
PROJBIO             112.12
QVC                  11.24
REPLACE             858.07
RETAIL-OTHER        171.71
TWEBEE              135.62

In [29]:
#look at final_charge by ORDR CardCode (sumifs)

print(df_merge.groupby('CardCode').final_charge.sum())
packages = df_merge.tracking_no.value_counts()

CardCode
AMAZON            245.08
AMAZONDF           13.51
AUSBAZ             57.46
BABGRA             91.07
BABLIS            257.73
BRIBAB             17.68
CHIALA             77.56
COOSER-DS         292.59
CPST              361.71
DIORET          14957.01
Ecom               42.12
FAMDIG-DS          11.21
IBIGRO            116.17
INCBUG             58.88
KALHEA             54.33
MACYS              15.02
MAREBAY            20.45
MARWAL            136.61
OUTEQU            180.82
PISPOS             30.76
PREALT            176.09
PROJBIO           112.12
QVC                11.24
REPLACE           858.07
RETAIL-OTHER      171.71
TWEBEE            135.62
Name: final_charge, dtype: float64

In [33]:
df_detail = pd.merge(df_lineitems, df2, on = ['sales_order_no'], how = 'left')
df_detail.head()

,DocEntry,sales_order_no,DocDate,CardCode,CardName,NumAtCard,RDR1.ItemCode,RDR1.Dscription,RDR1.Quantity,RDR1.LineTotal,...,card_code,ref_1,ref_2,charge_type,final_charge,receiving_party,receiving_address,city,state,zip
0,170099,369960,2020-09-06,Ecom,Kasie Papenfus,391590,54025-US-01,Radian 3RX Latch - Gray Slate,1,219.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,170100,369961,2020-09-06,Ecom,Raina Haines,391598,50026-US-01,Radian 3RXT Latch - Bonus Pack- Black Gray,1,279.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,170101,369962,2020-09-06,Ecom,Emma Stawnychy,391613,CF03501CVR,PIPA + PIPA series base - Caviar,1,299.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,170102,369963,2020-09-06,Ecom,Jessica Klukas,391620,50324-NA-01,Radian 3QX Latch - Blue Sky,1,319.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,170103,369964,2020-09-06,Ecom,stacey tilkes,391628,50024-US-01,Radian 3RXT Latch - Blue Sky,1,279.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#drop null values from the merged dataframe. Not currently working.

df_detail.dropna(thresh = 2)
df_detail.head()

,DocEntry,sales_order_no,DocDate,CardCode,CardName,NumAtCard,RDR1.ItemCode,RDR1.Dscription,RDR1.Quantity,RDR1.LineTotal,...,card_code,ref_1,ref_2,charge_type,final_charge,receiving_party,receiving_address,city,state,zip
0,170099,369960,2020-09-06,Ecom,Kasie Papenfus,391590,54025-US-01,Radian 3RX Latch - Gray Slate,1,219.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,170100,369961,2020-09-06,Ecom,Raina Haines,391598,50026-US-01,Radian 3RXT Latch - Bonus Pack- Black Gray,1,279.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,170101,369962,2020-09-06,Ecom,Emma Stawnychy,391613,CF03501CVR,PIPA + PIPA series base - Caviar,1,299.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,170102,369963,2020-09-06,Ecom,Jessica Klukas,391620,50324-NA-01,Radian 3QX Latch - Blue Sky,1,319.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,170103,369964,2020-09-06,Ecom,stacey tilkes,391628,50024-US-01,Radian 3RXT Latch - Blue Sky,1,279.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df_detail.to_excel('03 05 test.xlsx')